<template>
    <div>
        <h1>{{ msg }}</h1>
        <hr />
        <!-- <h1>{{ name }} {{ position }}</h1>
        <button @click="changeName(45),changePosition('CEO')">Change Name</button> -->
        <p>Name:{{ name }} {{ password }}</p>
        <input type="text" @input="getInput($event,'Zeckerberg')">
        <input type="text" @input="getPassword">
    </div>
</template>

<script>

export default {
    name:"HandleView",
    data:() => {
        return{
            msg: "Event Handlling",
            name:'',
            position:'Developer',
            password: '',
        }
    },
    methods: {
        changeName(ageParams){
            this.name = 'Eion Musk' + " , Age:" + ageParams
        },
        changePosition(positionNew){
            this.position = positionNew
        },
        getInput(event,lastName) {
            this.name = event.target.value + " " + lastName
            console.log(event)
        },
        getPassword(event) {
            this.password = event.target.value 
            console.log(event)      
        }
    }
}
</script>

<style lang="scss" scoped>

</style>