<template>
    <div>
        <p v-for="(name) in names" :key="name.id">
            {{ name.id }} - {{ name.first }} {{ name.last }}
        </p>
        <hr />
        <div class="card" v-for="person in peoples" :key="person">
            <h2>{{person.first}}</h2>

            <p class="card sub" v-for="friend in person.friends" :key="friend">
                {{ friend }}
            </p>
        </div>
        <hr />

        <div v-for="user in users" :key="user">
            <p v-if="user.age >= 45 && user.age <= 50">Name:{{ user.name }}</p>
            <p v-else-if="user.age >= 30 && user.age <= 44">Name:{{ user.name }}</p>
            <p v-else>Name: {{user.name}}</p>
        </div> 
    </div>
</template>

<script>
    export default {
    name:"iterationVue",
      data() {
        return {
            users:[
                {name: 'Jhon', age: 50},
                {name: 'Jane', age: 34},
                {name: 'Jack', age: 56},
                {name: 'Jill', age: 36},
            ],
            names:[
                { id: 0, first: "Mark", last: "Zuskerberg"},
                { id: 1, first: "Elon", last: "Musk"},
            ],
            peoples: [
                { id: 0, first: "Jhon Doe", friends:['Scote Lang','Tony Stark']},
                { id: 1, first: "Tayler swif", friends:['Leo messi','JJ Baby']},
            ]
        }
      },  
    }
</script>
<style>    
    .card{
        width: 30rem;
        margin: 1rem auto;
        padding: 0.5rem;
        border: 1px solid black;
    }
    .sub{
        width: initial;
        margin: 0.5rem;
    }
</style>
