<template>
  <div>
    <!-- <conditional-view /> -->
    <iteration-vue/>
  </div>
</template>

<script>
  // import ConditionalView from './components/Conditional.vue';
  import iterationVue from './components/Iteration.vue';
  export default {
    components: {
      // ConditionalView,
      iterationVue,
    },
  }
</script>

<style lang="scss" scoped>

</style>